<header>
    <nav class="bg-gray-900 p-4">
        <ul class="flex justify-center space-x-6">
            <!-- Home link -->
            <li><a href="/" class="text-white hover:text-blue-200">Home</a></li>

            <!-- Country Links -->
            <li><a href="/country/mexico" class="text-white hover:text-blue-200">Mexico</a></li>
            <li><a href="/country/thailand" class="text-white hover:text-blue-200">Thailand</a></li>
            <li><a href="/country/new-zealand" class="text-white hover:text-blue-200">New Zealand</a></li>
            <li><a href="/country/sweden" class="text-white hover:text-blue-200">Sweden</a></li>

            <!-- compare -->
            <li><a href="/compare" class="text-white hover:text-blue-200">Compare</a></li>
        </ul>
    </nav>
</header>
